# Server
PORT=5005
NODE_ENV=development

# MongoDB
MONGODB_URI=mongodb://localhost:27017/your_db_name

# Auth
JWT_SECRET=your_jwt_secret_here
APP_NAME=YourAppName

# Email (SMTP)
EMAIL_HOST=smtp.yourprovider.com
EMAIL_PORT_OUT=465
EMAIL_USER=your@email.com
EMAIL_PASSWORD=your_email_password
FROM_EMAIL=noreply@yourapp.com

# Cloudinary
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
